.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 200px;
  background-color: map_get($palette, background-overlay);
  border-radius: 2px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

  &__inner {
    position: relative;
    margin-top: 140px;
    margin-right: 18px;
    margin-left: 18px;
    padding: 70px 15px;
    text-align: center;
    background-color: map_get($palette, background);
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    font-size: 0;
    background-color: transparent;
    background-image: url("../../img/close_icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
  }
}
