section.advantages
    title.advantages__title.visually-hidden Наши преимущества
    ul.advantages__list
      li.advantages__item
        h3.advantages__title block1
        p.advantages__text text1
      li.advantages__item
        h3.advantages__title block2
        p.advantages__text text2
      li.advantages__item
        h3.advantages__title block3
        p.advantages__text text3
      li.advantages__item
        h3.advantages__title block4
        p.advantages__text text4
