section.feedback
  h2.feedback__title.visually-hidden Форма для связи с BRUME
  p.feedback__text Мечтаете об интерьере от BRUME?
  p.feedback__text Оставьте контактные данные, менеджер свяжется с вами в течении 15 минут, для уточнения всех деталей.

  include form

  p.feedback__warning Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных
