form.feedback__form.form(enctype="multipart/form-data" action="https://echo.htmlacademy.ru" method="post")
  fieldset.form__field-group
    select.form__select(name="option" id="option" requred)
      option.form__option(value="1") 1
      option.form__option(value="2") 2
      option.form__option(value="3") 3
    label.form__label.form__label--name Имя*
      input.form__input(type="text" name="name" id="name" placeholder="Имя" required)
    label.form__label Даю согласие на обработку данных
      input.form__input.form__input--agreement.visually-hidden(type="checkbox" name="agreement" id="agreement" required)
      span.form__checkbox
      span.form__text.visually-hidden Текст
  button.form__btn(type="submit") Отправить
