doctype html
html(lang="ru")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title BRUME
      link(rel="stylesheet" type="text/css" href="css/style.min.css")

  body
    header.page-header

    block main
      include main

    footer.page-footer
    include popup

    script(src="js/backend.min.js")
    script(src="js/popup.min.js")
    script(src="js/script.min.js")
